<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
  <Div Class="Container">
    <Div Class="All Flex-Row">
      <Div Class="Menu Flex-Column">
        <Div Class="Flex-Row Label-Wrapper">
          <Img Src="Https://I.Ibb.Co/CrgCrWT/Instagram.Png" />
          <H3 Class="Insta-Writing">Instagram</H3>
        </Div>
        <Div Class="Profil-Img"></Div>
        <Div Class="Profil-Info">
          <H2 Class="Name">Shailene Woodley</H2>
          <H3 Class="City">New York, NY</H3>
          <Div Class="Numbers">
            <Div Class="Post">
              <P>Post</P>
              <Div Class="Post-Num">116</Div>
            </Div>
            <Div Class="Post">
              <P>Followers</P>
              <Div Class="Post-Num">48m</Div>
            </Div>
            <Div Class="Post">
              <P>Following</P>
              <Div Class="Post-Num">48m</Div>
            </Div>
          </Div>
          <Div Class="Menu-Elements">
            <Div Class="Icons">
              <Img Src="Https://I.Ibb.Co/5csvQKW/Home-2.Png" />
              <Div Class="Feed-Writing"> Feed </Div>
            </Div>
            <Div Class="Icons">
              <Img Src="Https://I.Ibb.Co/Y8wD2HZ/Explore-Tool.Png" />
              <Div Class="Exp-Writing"> Explore</Div>
            </Div>
  
            <Div Class="Icons">
              <Img Src="Https://I.Ibb.Co/TsDcKD1/Hashtag.Png" />
              <Div Class="Trend-Writing"> Trending Tags</Div>
            </Div>
  
            <Div Class="Icons">
              <Img Src="Https://I.Ibb.Co/G2r0G8N/Tick-Inside-A-Circle.Png" />
              <Div Class="Top-Writing"> Top Post </Div>
            </Div>
  
            <Div Class="Icons">
              <Img Src="Https://I.Ibb.Co/XDnYxL9/User-Symbol-Of-Thin-Outline.Png" />
              <Div Class="People-Writing"> People </Div>
            </Div>
  
            <Div Class="Icons">
              <Img Src="Https://I.Ibb.Co/DWcct0k/Notification.Png" />
              <Div Class="Notif-Writing"> Notification </Div>
            </Div>
  
            <Div Class="Icons">
              <Img Src="Https://I.Ibb.Co/RQcCQcL/Direction.Png" />
              <Div Class="Direct-Writing"> Direct </Div>
            </Div>
  
            <Div Class="Icons">
              <Img Src="Https://I.Ibb.Co/VNSj2GR/Pie-Chart.Png" />
              <Div Class="Stat-Writing"> Stats </Div>
            </Div>
  
            <Div Class="Icons">
              <Img Src="Https://I.Ibb.Co/SmVnQkg/Settings.Png" />
              <Div Class="Set-Writing"> Settings</Div>
  
            </Div>
          </Div>
        </Div>
      </Div>
    </Div>
    <Div Class="Right-Page">
      <Div Class="Top-Bar">
        <Div Class="Form Has-Search">
          <Input Class="Text" Type="Search" Placeholder="Search" Name="Search" />
          <Span Class="SearchIcon">
           <Img Src="Https://I.Ibb.Co/SqFgRq8/Search.Png" />
         </Span>
          <Span Class="Micro">
           <Img Src="Https://I.Ibb.Co/HNx8Xty/Microphone.Png"/>
         </Span>
        </Div>
        <Div Class="Cover-Post">
          <Button Class="Button Post-New">Create New Post</Button>
          <Span Class="Plus">
         <Img Src="Https://I.Ibb.Co/0YG23j8/Plus-Symbol.Png" />
         </Span>
        </Div>
        <Div Class="Mail-Heart">
          <Div Class="Icon1">
            <Img Src="Https://I.Ibb.Co/6ZwMVGp/Email.Png" />
          </Div>
          <Div Class="Icon1">
            <Img Src="Https://I.Ibb.Co/K91ZTyF/Heart.Png" />
          </Div>
          <Div Class="Person-Radius">
            <Img Src="Https://Images.Unsplash.Com/Photo-1519058082700-08a0b56da9b4?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
          </Div>
        </Div>
      </Div>
      <Hr Class="Hr-New">
      <Div Class="Right-Of-Page">
        <Div Class="Right-Middle">
          <Div Class="Featured">
                      <Div Class="Featured-Header">
                          <H2 Class="Featured-Stories"> Featured Stories</H2>
                          <Button Class="Button Popular-Stor"> Popular Stories</Button>
                      </Div>
                      <Div Class="Featured-Body">
                          <Div Class="Galery-Wrapper">
                              <Div Class="Img-Galery">
                                  <Img
                                      Src="Https://Images.Unsplash.Com/Photo-1562447279-69402cb4587d?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
                              </Div>
                              <Div Class="Img-Galery">
                                  <Img
                                      Src="Https://Images.Unsplash.Com/Photo-1495954484750-Af469f2f9be5?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
                              </Div>
                              <Div Class="Img-Galery">
                                  <Img
                                      Src="Https://Images.Unsplash.Com/Photo-1462275646964-A0e3386b89fa?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
                              </Div>
                            <Div Class="Img-Galery">
                                  <Img
                                      Src="Https://Images.Unsplash.Com/Photo-1561363702-E07252da3399?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
                              </Div>
                          </Div>
                      </Div>
                  </Div>
          
       <Div Class="Featured">
                      <Div Class="Featured-Header">
                          <H2 Class="Featured-Stories"> Latest Feed</H2>
                        <Div Class="Icon-Two">
                    <Div Class="Icon3">
            <Img Src="Https://I.Ibb.Co/Jd2NwHV/Menu-Lines.Png" />
          </Div>
          <Div Class="Icon3">
            <Img Src="Https://I.Ibb.Co/TZdq3jg/Four-Boxes.Png" />
          </Div>
                        </Div>
                      </Div>
                      <Div Class="Featured-Body">
                          <Div Class="Galery-Wrapper">
                              <Div Class="Img-Galery">
                                  <Img
                                      Src="Https://Images.Unsplash.Com/Photo-1426543881949-Cbd9a76740a4?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
                              </Div>
                              <Div Class="Img-Galery">
                                  <Img
                                      Src="Https://Images.Unsplash.Com/Photo-1532347922424-C652d9b7208e?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
                              </Div>
     
                            <Div Class="Img-Galery">
                                  <Img
                                      Src="Https://Images.Unsplash.Com/Photo-1414609245224-Afa02bfb3fda?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
                              </Div>
                          </Div>
                      </Div>
         
          <Div Class="Last-Body">
                          <Div Class="Galery-Wrapper">
                              <Div Class="Img-Galery">
                                  <Img
                                      Src="Https://Images.Unsplash.Com/Photo-1506953823976-52e1fdc0149a?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
                              </Div>
                              <Div Class="Img-Galery">
                                  <Img
                                      Src="Https://Images.Unsplash.Com/Photo-1527212986666-4d2d47a80d5f?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
                              </Div>
                              <Div Class="Img-Galery">
                                  <Img
                                      Src="Https://Images.Unsplash.Com/Photo-1505158498176-0150297fbd7d?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
                              </Div>
                          </Div>
                      </Div>
                             <Div Class="Loader"></Div>
                  </Div>   
        </Div>
        <Div Class="Last-Right">
          <Img Src="Https://Images.Unsplash.Com/Photo-1519058082700-08a0b56da9b4?Ixlib=Rb-1.2.1&Ixid=EyJhcHBfaWQiOjEyMDd9&Auto=Format&Fit=Crop&W=600&Q=60" />
          <H2 Class="Name2">BENJAMIN HARDMAN</H2>
          <Div Class="Follows"> 
           <Div Class="Post">
              <P>Photos</P>
              <Div Class="Post-Num">882</Div>
            </Div>
            <Div Class="Post">
              <P>Followers</P>
              <Div Class="Post-Num">527k</Div>
            </Div> 
          </Div>
          <Div Class="Read-Me">
            Benjamin Is A Freelance Photographer In Iceland. He Is Interested In UI Development And Design.
   
            Five Years Ago Benjamin Embarked On His First Photographic Mission In An Arctict Winter Climate
                      Benjamin Is A Freelance Photographer In Iceland. He Is Interested In UI Development And Design.
   
            Five Years Ago Benjamin Embarked On His First Photographic Mission In An Arctict Winter Climate...<Span Class="Read"> Read More</Span>
          </Div>
          
            <Div Class="Feature"> 
           <Div Class="Post2">
              <P>Locations</P>
              <Div Class="Post-Num">Based In Iceland</Div>
            </Div>
            <Div Class="Post2">
              <P>Profession</P>
              <Div Class="Post-Num">Photographer</Div>
            </Div>
               <Div Class="Post2">
              <P>Profession</P>
              <Div Class="Post-Num">Developer</Div>
              </Div>
          </Div>
        </Div>
      </Div>
    </Div>
  </Div>
  
</body>
</html>